<table>
  <tr>
    <th>User</th>
    <th>Admin</th>
    <th>Sales</th>
    <th>Maintenance</th>
    <th>Change Password</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td id='username'><%= user.username %></td>
    <td><%= user.username %></td>
    <td><%= user.username %></td>
    <td><%= user.username %></td>
    <td>
      <%= link_to 'change password', edit_user_path(user) %>
    </td>
  </tr>
<% end %>
</table>